#content form{
	background-color: white;
}
#content_1 {
	border-bottom: none;
}
.box-list-tickets .buy {
	margin-top: 30px;
	padding-left: 35px;	
	padding-bottom: 20px;
}
.box-list-tickets .buy button {
	background-color: #f03c0b
}
.first{
	margin-top: 30px;
	padding-left: 50px;	
}
.middle-detail {
	border-right: 1px dashed gray;
	border-left: 1px dashed gray;
	padding-top: 20px;
	padding-bottom: 20px;
} 
.box-list-tickets{
	padding-top: 0;
	padding-bottom: 0;
}
#recent-ticket h5{
	font-size: 16px;
}
.box-recent-tickets span{
		font-size: 12px;
}
.right p{
	font-size: 12px;
}
.box-passenger {
		margin-left: 10px;
}
label {
	margin: 0;
}
#documentNumber,#documentNumber1 {
	margin-top: 10px;
	margin-bottom: 10px;
}
#age1{
	margin-top: 0;
}
.fa-check {
	color: black
}
.validation {
	margin-left: 10px;
}
.panel-menu2 img {
	width: 100%;
}