/*
* @Author: ngoc trung
* @Date:   2017-09-26 21:21:15
* @Last Modified by:   ngoc trung
* @Last Modified time: 2017-09-29 15:56:02
*/
.signup{
	width: 80%;
	margin: 0 auto;
	margin-top:100px;
	display: table;
	height: 100px;
	padding-bottom: 50px;
}
.main-signup{
	width: 100%;
	background: #5f5f5f;
	display: table;
	
	
}
.signup p{
	color: white;
	font-size:16px;
}
.form_signup{
	background: #3e3f42;
	padding-bottom: 20px;
}
.fa{
	color: #3d3e44;
}
.fa-chevron-circle-up:before{
	    font-size: 50px;
}